{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block title %}{{ block.super }}|{{ user.full_name }}- profile{% endblock %}
{% block content %}
{{ SkillsFormset.form.errors }}
{{CompletedProjectsFormset.form.errors}}
  <form id="profile-form" action="" enctype="multipart/form-data" method="post">{% csrf_token %}
      <div class="bounds circle--page">
        <div class="circle--page--header circle--fluid">
          <div class="circle--fluid--cell circle--fluid--primary">
            <h2>Profile</h2>
          </div>
          <div class="circle--fluid--cell circle--fluid--secondary">
            <input type="submit" class="button button-primary icon-on-left" value="Save Changes">
          </div>
        </div>

        <div class="grid-70">
          {{ form.full_name}}
          <div class="circle--article--body">
              {{ form.bio|escape}}
          </div>

          <h2>Past Projects</h2>
          <table class="u-full-width circle--table">
            <thead>
              <tr>
                <th>Project Title</th>
                <th class="circle--cell--right">Project Needs</th>
              </tr>
            </thead>
            <tbody>
              <tr class="clickable-row" data-href="project.html">
                <td>
                  <h3>Invoice Delivery Tool</h3>
                </td>
                <td class="circle--cell--right">
                  <span class="secondary-label">Rails Developer</span>
                </td>
              </tr>
              <tr class="clickable-row" data-href="project.html">
                <td>
                  <h3>Twitter Client</h3>
                </td>
                <td class="circle--cell--right">
                  <span class="secondary-label">Designer</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="grid-25 grid-push-5">
          {% if form.instance.image %}
          <div class="circle--secondary--module">
              <img class="avatar" src="{{ form.instance.image.url }}">
          </div>
          <input type="file" value="change image" name="image" id="id_image">
          <a class="button" id="upload_link" >Change Photo</a>
          <hr>
          {% else %}
          <div class="circle--secondary--module">
              <div class="circle--primary--avatar">
                  <input type="file" value="change image" name="image" id="id_image">
                  <a class="button" id="upload_link" >Upload Photo</a>
              </div>
          </div>
          {% endif %}
          <div class="circle--secondary--module">
            <h4>My Skills</h4>
            {{ SkillsFormset.management_form }}
            <ul id="skills" class="circle--clone--list">
              {% for skill in SkillsFormset.forms %}
              <li {% if not completed_project.instance.pk %}class='dynamic'{% endif %}>
                  {{ skill.id }}
                  {{ skill.name}}
                  {% if skill.instance.pk %}{{ skill.DELETE }}{% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="circle--secondary--module">
            <h4>My Projects</h4>
            {{ CompletedProjectsFormset.management_form }}
            <ul id='completed_projects' class="circle--clone--list">
                {% for completed_project in CompletedProjectsFormset.forms %}
                <li {% if not completed_project.instance.pk %}class='dynamic'{% endif %}>
                  {{completed_project.id}}
                  {{ completed_project.title }}
                  {{ completed_project.url}}
                  {% if completed_project.instance.pk %}{{ completed_project.DELETE }}{% endif %}
                </li>
              {% endfor %}
            </ul>
           
          </div>
        </div>

      </div>
</form>


{% endblock %}

