{% extends 'layout.html' %}
{% load static from staticfiles %}
{% block title %}| add {% endblock %}
{%  block content %}
{{ position_formset.form.errors }}


<form method="POST" action=''>
    {% csrf_token %}
    <div class='circle--actions--bar'>
        <div class='bounds'>
                <div class='grid-100'>
                    <input type='submit' class='button button-primary' value='Save Project'>
                    <a class='button button-text' href='{% url 'home' %}'>Discard</a>
                </div>
        </div>
    </div>
    <div class="bounds circle--page circle--article">
        <div class='grid-70'>
            <div class='circle--article--body'>
                {{form.title.errors}}
                {{form.title}}
                {{ form.description.error }}
                {{form.description}}
            </div>
            <div class='circle--project--positions'>
                {{ positions_formset.management_form }}
                <h2>Positions</h2>
                <ul id='positions' class='circle--group--list circle--clone--list'>
                    {% for form in positions_formset.forms %} 
                    <li {% if not form.instance.pk %}class='dynamic' {% endif %}>
                        {{form.id}}
                        {{ form.title.error }}
                        {{ form.title }}
                        <datalist id="options">
                            {% for position in positions %}
                                <option value="{{ position.title }}">
                            {% endfor %}
                        </datalist>
                        {{ form.description.error }}
                        {{ form.description }}
                        Pick from a list of skills required
                        <br>
                        {{ form.skill }}
                        {% if form.instance.pk %}{{ a_form.DELETE }}{% endif %}
                    </li>
                  {% endfor %}
                </ul>
                <input type='submit' class='button button-primary' value='Save Project'>
            </div>

        </div>
        <div class='grid-25 grid-push-5'>
            <div class='circle--secondary--module'>
                <h3>Timeline</h3>
                {{form.timeline.errors}}
                {{form.timeline}}
            </div>
            <div class='circle--secondary--module'>
                <h3>Applicant Requirements</h3>
                {{form.requirements.error}}
                {{form.requirements}}
            </div>

        </div>
    </div>
</form>

{% endblock %}
